cacerts/*.crt
cacsr/*.crt
cakey/*.key
cakey/.key
servercerts/*.crt
servercsr/*.csr
serverkeys/*.key
clientcerts/*.crt
clientcsr/*.csr
clientkeys/*.key
database/certindex.old*
database/certserial.old*
database/certindex.attr.old*
